<?xml version="1.0" encoding="utf-8"?>
<nuget xmlns="http://www.gehtsoft.com/build/nuget">
 <!-- versions. the FIRST version is the current -->
 <versions>
  <version id="1.0.8">Initial version</version>
  <version id="1.0.7">Initial version</version>
  <version id="1.0.6">Initial version</version>
  <version id="1.0.4">Initial version</version>
  <version id="1.0.3">Initial version</version>
  <version id="1.0.2">Initial version</version>
  <version id="1.0.1">Initial version</version>
 </versions>
 <properties>
  <owner>Gehtsoft</owner>
  <projectUrl>https://github.com/gehtsoft-usa/Gehtsoft.Measurements</projectUrl>
  <license>LGPL-2.1-or-later</license>
  <copyright>Gehtsoft USA LLC 2016-2021</copyright>
 </properties>
 <projects>
   <project id="Gehtsoft.Measurements">
    <description>Measurements library</description>
   </project>
 </projects>
</nuget>