<?xml version="1.0" encoding="utf-8"?>
<nuget xmlns="http://www.gehtsoft.com/build/nuget">
 <!-- versions. the FIRST version is the current -->
 <versions>
  <version id="1.1.0">Add xml doc</version>
 </versions>
 <properties>
  <owner>Gehtsoft</owner>
  <projectUrl>https://github.com/gehtsoft-usa/Gehtsoft.Measurements</projectUrl>
  <license type="expression">LGPL-2.1-or-later</license>
  <copyright>Gehtsoft USA LLC 2016-2021</copyright>
 </properties>
 <projects>
   <project id="Gehtsoft.Measurements">
    <description>Measurements library</description>
    <additional-file file="../doc/Gehtsoft.Measurements.xml" target="*"></additional-file>
   </project>
 </projects>
</nuget>